/*
*{
	margin: 0;
	padding: 0;
}
*/

body{
	background-image:url('../images/style.jpg');
	height: 100%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
	color: #555555;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
	/* sample as above
	font: Arial,Helvetica,sans-serif;
	*/
	line-height: 1.6em;
	margin: 0;

}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	color: red;

}
a:active{
	color: blue;
}
a:visited{

}

.container{
	width: 80%;
	margin: auto;
}

.Button {
	background-color:black;
	color: white;
	padding: 10px 15px;
	border: none;

}
.Button:hover{
	background: red;
	color: #fff;
}
.box-1{
	background-color: #333333;
	color: #fff;
	border-bottom:5px red solid; 
	border-right:5px red solid;
	border-left:5px red solid;
	border-top:5px red solid;

	/*
	border: 5px red solid;
	*/
	border-width:2px;
	border-bottom-style:dotted;
	border-left-style:dotted;
	border-right-style:dotted;
	border-top-style:dotted; 
	padding-bottom:20px;
	padding-right:20px;
	padding-left:20px;
	padding-top:20px;
	margin-top:20px;
	margin-bottom:20px 0;  
	}
.box-1 h1{

	font-family: Tahoma;
	font-size: 800;
	font-style: italic;
	text-decoration:underline;
	text-transform: uppercase;
	/* letter spacing method
	letter-spacing: 0.2em;
	word-spacing: 1em;
	*/ 
}

.categories{
	border: 1px #ccc solid;
	padding: 10px;
	border-radius: 15px;

}

.categories h2{
	text-align:center;
}

.categories ul{
	padding: 0;
	padding-left: 20px;
	list-style: square;
	list-style: none;
}

.categories li{
	padding-bottom: 6px;
	border-bottom:dotted 1px #333;
	 list-style-image: url('../images/download.png');

}

.my-form{
	padding: 20px;
}
.my-form .form-group{
	padding-bottom: 15px;
}

.my-form label{
	display:block;
}

.my-form input[type="text"], .my-form textarea{
	padding: 8px;
	width: 100%;
}
